html{
	height: 100%;
}
body{
	background-image: url(assets/backgrounds/blue-stripes.jpg);
	background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	height: 100%
}
/*LANDING PAGE*/
#landingPage{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#enterIcon{
	border-radius: 350px;
}
#enterIcon:hover{
	border: 2px solid white;
	width: 496px;
}
#enter{
	color: white;
}
/*NAV*/
#nav-toggle{
	border-radius: 100px;
	width: 100px;
	border: 3px solid rgba(84, 0, 122, 1);
}
#nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 20;
}
#socialButtons{
	/*display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	box-sizing: border-box;
	padding: 10px;

	border: 3px solid rgba(84, 0, 122, 1);
	width: 60px;*/
}
#contextButtons{
	border: 3px solid rgba(84, 0, 122, 1);
}
#socialButtons{
	list-style: none;
}
.socialLink{
	font-size: 40px;
	color: black;
	text-decoration: none;
}
.socialLink:hover{
	font-size: 40px;
	color: rgba(5, 171, 101, 1);
	text-decoration: none;
}

#mainMenu{
	width: 85%;
	height: 100%;
	border: 3px solid red;
	display:flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

.mainMenuItems{
	width: 46%;
	height: 25%;
	flex-grow: 1;*/
	flex-shrink: 1;
	/*flex-basis: 500px;*/

	margin: 10px;
	border: 3px solid rgba(84, 0, 122, 1);
	background-color: rgba(5, 171, 101, .6);
	padding: 10px;
	box-sizing: border-box;

}













/*colors:*/
/*rgba(84, 0, 122, 1)*/
/*rgba(175, 25, 25, 1)*/
/*rgba(43, 111, 232, 1)*/
/*rgba(5, 171, 101, 1)*/
/*rgba(215, 240, 255, 1)*/
/*rgba(47, 73, 147, 1)*/
/*rgba(255, 225, 225, 1)*/
/**/
