.icon-home:before {
  content: "\e900";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-github:before {
  content: "\eab0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-delicious:before {
  content: "\eacd";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
