/*NAV*/
#nav-toggle{
	display: none;
	border-radius: 100%;
	width: 100%;
	border: 3px solid rgba(84, 0, 122, 1);
}
#nav{
	flex-direction: column;
	align-items: center;
	width: 20%;
	position: absolute;
	left: 5%;
	top: 2%;
	position: fixed;
}
#socialButtons{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	box-sizing: border-box;
	padding: 10px;
	background: rgba(47, 73, 147, .3);
	border: 3px solid rgba(84, 0, 122, 1);
	width: 60px;

}
.socialLink{
	font-size: 40px;
	color: black;
	text-decoration: none;
}
.socialLink:hover{
	font-size: 40px;
	color: rgba(5, 171, 101, 1);
	text-decoration: none;
}
#contextButtons{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	box-sizing: border-box;
	padding: 10px;
	background: rgba(47, 73, 147, .3);
	border: 3px solid rgba(84, 0, 122, 1);
	width: 60px;
}
.context{
	font-size: 2.5em;
	color: black;
	text-decoration: none;
}
.context:hover{
	font-size: 40px;
	color: rgba(5, 171, 101, 1);
	text-decoration: none;
}













/*colors:*/
/*rgba(84, 0, 122, 1)*/
/*rgba(175, 25, 25, 1)*/
/*rgba(43, 111, 232, 1)*/
/*rgba(5, 171, 101, 1)*/
/*rgba(215, 240, 255, 1)*/
/*rgba(47, 73, 147, 1)*/
/*rgba(255, 225, 225, 1)*/
/**/
